/* CatalogList.css */
/* Блок: catalog-list */
.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
}

/* Элементы */
.catalog-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.catalog-list__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.catalog-list__link {
  font-size: 16px;
  color: gray;
  text-decoration: none;
}

.catalog-list__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 5px;
  width: 100%;
  will-change: transform;
}

/* Адаптивность */
@media (max-width: 600px) {
  .catalog-list__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .catalog-list__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .catalog-list__items {
    grid-template-columns: repeat(3, 1fr);
  }
}