.header{
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.header__container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header__container_last {
  margin-bottom: 0px;
}

.header__spacer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-label {
  display: flex;
  align-items: center;
  justify-content: center;
}