.slider-item {
  flex: 0 0 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-sizing: border-box;
  /*background-color: white;*/
  background-size: cover;
  border-radius: 15px;
}