.app-container {
  width: 100%;
  height: 100vh;
  /*padding-bottom: 90px; /* место под навбар */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F2F2F2;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}