.app-container {
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  background-color: #F5F5F5;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  /* Скрываем скроллбар глобально, но скролл работает */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;               /* Chrome/Safari/WebKit */
}

* {
  box-sizing: border-box;
}

.home-page {
  margin: 0;
}

