.services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto; /* Центрирование для тестов */
  margin-top: 25px;
}

.services-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.services-list__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.services-list__link {
  font-size: 16px;
  color: gray;
  text-decoration: none;
}

.services-list__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 5px;
  width: 100%;
  justify-content: space-between;
}