/* components/slider/Slider.css */
.slider {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 25px;
}

.slider__window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider__list {
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: transform 0.4s ease-in-out;
}

.slider__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 10px;
}

.slider__arrow {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.slider__dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.slider__dot--active {
  background-color: #476CEE;
}